/*  -----------------------------
 *  Artisan Chairs stylesheet
 *  
 *  Stucture
 *      default overrides
 *      layout
 *      classes
    ---------------------------- */

/* --------------------
 Default Overrides
----------------------*/
body {
	background:url(images/bg.jpg);
	font-family:Helvetica,"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif;
    font-size:1em;
	margin:0;
    padding:0;
    width:100%;
}

ul, li {
	list-style:none;
	margin:0;
	padding:0;
}

h1 {
	font-size:1.4em;
	font-weight:normal;
	margin:0;
	padding:0;
}

a {
	color:#336699;
	text-decoration:none;
}
a:hover {
	color:#336699;
}
/* --------------------
 Layout
----------------------*/
#bodyWrapper, #siteWrapper {
    position:relative;
}
#siteWrapper {
    margin:0 auto;
    width:94%;
}

    /*---------
     Header
     -----------*/
    #headerWrapper{
        position:relative;
        height:100px;
		text-shadow:0 2px 3px #000000;
    }
        #header {
        }

    /*----------------
      Site Navigation
      -----------------*/
    #siteNavWrapper {
		height:100px;
        font-size:1.6em;
		font-variant:small-caps;
        padding:0 0 0 10px;
        position:absolute;
        right:0;
		top:25px;
    }
		#siteNav ul {
			margin:0 0 0 50px;
		}
		#siteNav li {
			float:left;
			margin:0 0 0 15px;
		}
		#siteNav li a {
			color:#dedede;
			padding:5px;
		}
		#siteNav li a:hover {
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			background:rgba(51,102,153,.5);
			color:#ffffff;
		}
		#siteNav .curLink {
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			background:rgba(70,70,70,.5);
			color:#ffffff;
		}
		

    /*------------
     Below Neck
     -------------*/
    #bnWrapper {
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		background:#f0f0f0;
        border:1px solid #cdcdcd;
		text-shadow:0 1px 0 #B3CDEC;
    }


    /*---------
      Content
      ----------*/
    #contentWrapper {
        padding:10px 5px;
    }
        #welcomeText {
            font-size:1.2em;
			margin:0 0 10px 0;
        }

	/*-------------------
	    Blurb Slideshow
	 --------------------*/
	#bsWrapper {
		margin:20px 0 40px;
		position:relative;
	}
		#blurb {
			padding:0 360px 0 0;
		}
		#slideShowWrapper {
			position:absolute;
			right:0px;
			top:0px;
			width:350px;
		}
	
	
	
	/*-------------------
		Site Info Boxes
	--------------------*/
	#siteInfoBoxesWrapper {
		position:relative;
	}
	
		#siteInfoBox1Wrapper, #siteInfoBox2Wrapper {
			float:left;
			width:50%;
		}
		
		.infoBoxHeader {
			font-size:1.2em;
			font-variant:small-caps;
			font-weight:bold;
		}
	
	
	

    /*----------
      Footer
      -----------*/
    #footerWrapper {
		-moz-border-radius-bottomleft:5px;
		-moz-border-radius-bottomright:5px;
		-webkit-border-bottom-left-radius:5px;
		-webkit-border-bottom-right-radius:5px;
		border-bottom-left-radius:5px;
		border-bottom-right-radius:5px;
        background:#454545;
		color:#f0f0f0;
		font-size:.8em;
		margin:20px 0 0 0;
        padding:5px;
		position:relative;
		text-shadow:0 1px 2px #07090D;
    }
	
	#footer1, #footer2, #footer3 {
		float:left;
		width:33%;
	}
	
	#legalInfo {
		margin:20px 0 0 0;
	}



/* --------------------
 Classes
----------------------*/
.clear {
    clear:both;
}
