/*  -----------------------------
 *  Artisan Chairs stylesheet
 *  
 *  Stucture
 *      default overrides
 *      layout
 *      classes
    ---------------------------- */

/* --------------------
 Default Overrides
----------------------*/
body {
	background:url(images/bg.jpg);
	font-family:"Lucida Grande","Lucida Sans Unicode",Arial,Verdana,sans-serif !important;
    font-size:1em;
	margin:0;
    padding:0;
    width:100%;
}

ul, li {
	list-style:none;
	margin:0;
	padding:0;
}

h1, h2, h3, h4{
	font-size:1.4em;
	font-weight:normal;
	margin:0;
	padding:0;
}
h2 {
	font-size:1.2em;
}
a {
	color:#336699;
	text-decoration:none;
}
a:hover {
	color:#336699;
}
img {
	border:none;
}
/* --------------------
 Layout
----------------------*/
#bodyWrapper, #siteWrapper {
    position:relative;
}
#siteWrapper {
    margin:0 auto;
	margin-bottom:3%;
    width:94%;
}

    /*---------
     Header
     -----------*/
    #headerWrapper{
        position:relative;
        height:100px;
		text-shadow:0 2px 3px #000000;
    }
        #header {
        }

    /*----------------
      Site Navigation
      -----------------*/
    #siteNavWrapper {
		height:100px;
        font-size:1.6em;
		font-variant:small-caps;
        padding:0 0 0 10px;
        position:absolute;
        right:0;
		top:25px;
    }
		#siteNav ul {
			margin:0 0 0 50px;
		}
		#siteNav li {
			float:left;
			margin:0 0 0 15px;
		}
		#siteNav li a {
			color:#dedede;
			padding:5px;
		}
		#siteNav li a:hover {
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			background:rgba(51,102,153,.5);
			color:#ffffff;
		}
		#siteNav .curLink {
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
			background:rgba(70,70,70,.5);
			color:#ffffff;
		}
		

    /*------------
     Below Neck
     -------------*/
    #bnWrapper {
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border-radius:5px;
		background:#f0f0f0;
        border:1px solid #cdcdcd;
		color:#232323;
		text-shadow:0 1px 0 #fcfcfc;
    }


    /*---------
      Content
      ----------*/
    #contentWrapper {
        padding:5px;
    }
		    /*---------
			Content Nav
			----------*/
			#contentNav {
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border--radius:5px;
			background:#232323;
			color:#f0f0f0;
			font-size:.8em;
			margin:0 0 1em 0;
			padding:5px;
			position:relative;
			text-shadow:0 1px 2px #07090D;	
			}
			
        #welcomeText {
            font-size:1.2em;
			margin:0 0 10px 0;
        }

	/*-------------------
	    Blurb Slideshow
	 --------------------*/
	#hsWrapper {
		margin:20px 0 40px;
		position:relative;
	}
		#homeWrapper {
			padding:0 410px 0 0;
			height:275px;
		}
		
		#blurb {
			margin:0 0 1em 0;
		}		
		/*-------------------
			Site Info Boxes
		--------------------*/
		#siteInfoBoxesWrapper {
			position:relative;
		}
		
			#siteInfoBox1Wrapper, #siteInfoBox2Wrapper {
				float:left;
				width:50%;
			}
			
			.infoBoxHeader {
				font-size:1.2em;
				font-variant:small-caps;
				font-weight:bold;
			}
		
		/*-------------------
		Slideshow
		--------------------*/
		#slideShowWrapper {
			-moz-border-radius:5px;
			-webkit-border-radius:5px;
			border-radius:5px;
            background:none !important;
			border:2px solid #232323;
			overflow:hidden;
			position:absolute;
			right:0px;
			top:0px;
			width:402px;
		}
            #slideShow {
                -moz-border-radius:5px;
                -webkit-border-radius:5px;
                border-radius:5px;
                background:#232323 !important;
                border:1px solid #f0f0f0;
                padding:1px !important;
                position:relative;
                overflow:hidden;
            }
	
	
	

    /*----------
      Footer
      -----------*/
    #footerWrapper {
		-moz-border-radius:5px;
		-webkit-border-radius:5px;
		border--radius:5px;
        background:#232323;
		color:#ffffff;
		font-size:.8em;
		margin:20px 5px 5px;
        padding:5px;
		position:relative;
		text-shadow:0 1px 2px #07090D;
    }
		#footerWrapper a {
			color:#ffffff;
			padding:1px 2px;
			text-shadow:0 1px 2px #232323;
		}
			#footerWrapper a:hover {
				color:#9CB9D5;
			}
		#footerLinks, #footerContact {
			float:left;
			text-align:left;
			width:50%;
		}
		#footerContact {
			line-height:1.5em;
			text-align:right;
		}
	
	#legalInfo {
		color:#999999;
		font-size:.8em;
		margin:10px 0 0 0;
		text-align:center;
	}


	
	
	
/*----------------------------------------
  Slide Show Styles
-----------------------------------------*/

  
  
  

/* --------------------
 Classes
----------------------*/
.clear {
    clear:both;
}
.bwText {
	direction:rtl;
	unicode-bidi:bidi-override;
}
.strong {
	font-weight:bold;
}
.lightGrey {
	color:#999999;
}